.menu-open-enter-active,
.menu-open-leave-active {
  transition: all 1s ease-out;
}

.menu-open-enter {
  transform: translateY(-100vh);
}

.menu-open-leave-to {
  transform: translateY(-100vh);
}



.nav-root-leave-active,
.nav-root-enter-active {
  transition: all .5s ease-out;
}

.nav-root-leave-to {
  transform: translateX(-100vw);
}

.nav-root-enter {
  transform: translateX(-100vw);
}




.swipe-enter-active,
.swipe-active,
.swipe-leave-active,
.swipe-leave {
  transition: all .5s ease-out;
}

.swipe-enter {
  transform: translateX(100vw);
}

.swipe-leave-to {
  transform: translateX(100vw);
}



.loading-enter-active,
.loading-active,
.loading-leave-active,
.loading-leave {
  transition: all .5s ease-out;
}

.loading-enter {
  transform: translateX(100vw);
}

.loading-leave-to {
  transform: translateX(100vw);
}
